:root {
    font-size: 0.625rem;
    font-family: 'Roboto';
}

* {
    margin: 0;
}

body {
    background-color: #E1EAF4;
}

h1,
p {
    font-style: normal;
}

.fw-bold {
    font-weight: 700;
}

.fw-light {
    font-weight: 100;
}

h1 {
    font-size: 2.4rem;
}

p {
    font-size: 18px;
}

header {
    background-color: #ffffff;
    height: 80px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

header div {
    font-style: normal;
}

.fs-1 {
    font-size: 3.2rem;
}

.fs-2 {
    font-size: 2.4rem;
}

.fs-3 {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: black;
}

.dashboard {
    padding: 29px 26px;
    border-right: 2px solid #E1EAF4;
    font-size: 24px;
}

form {
    margin-left: 33px;
    margin-right: 0;
    border-right: 2px solid #E1EAF4;
}

input {
    padding: 31px 10px;
    border: 0;
    font-size: 16px;
}

.search {
    width: 75%;
}

header a {
    padding: 21px 25.5px;
}

.menu {
    margin-left: 50px;
}

header a:hover {
    /* text-decoration: underline; */
    border-bottom: 5px solid blue;
}

main div {
    padding: 28px 201px;
}

.rectangle {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 13px;
    margin-top: 28px;
    padding: 30.5px 30.5px;
}

.bloc1 {
    margin-left: 656px;
}