* {
    margin: 0;
  }
body{
    background-color:#E1EAF4;
}

h1,
p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

h1{
    font-size: 32px;
}

p{
    font-size: 18px;
}

header {
    background-color: #ffffff;
    height: 80px;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

header div{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}

a {
    text-decoration: none;
    color: black;
  }
.dashboard {
    padding : 29px 26px;
    border-right: 2px solid #E1EAF4;
    font-size: 24px;
}

form {
    margin-left: 33px;
    margin-right: 0;
    border-right: 2px solid #E1EAF4;
}
input {
    padding: 31px 10px;
    border: 0;
    font-size: 16px;
 }
.search {
    width: 75%;
}

header a{
    padding : 21px 25.5px;
}

.menu{
    margin-left: 50px;
}

header a:hover{
    /* text-decoration: underline; */
    border-bottom: 5px solid blue;
}

main div{
    padding: 28px 201px;
}

.rectangle{
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 13px;
    margin-top: 28px;
    padding: 30.5px 30.5px;
}

.bloc1{
    margin-left: 656px;
}